@import "tailwindcss";

@theme {
  --font-sans: "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "IBM Plex Mono", ui-monospace, SFMono-Regular, monospace;
}

body {
  background-color: #050505;
  color: #e4e4e7;
  font-family: var(--font-sans);
}

.font-mono {
  font-family: var(--font-mono);
}

::selection {
  background-color: #3b82f6;
  color: white;
}
